@import "../../colors.scss";

.title {
  position: relative;
  max-width: 1500px;
  margin: 100px auto 20px;

  h3 {
    -webkit-text-stroke: 2px $accent-primary;
    -webkit-text-fill-color: $secondary;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
