@import "../../colors.scss";
.jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  // height: 50vh;
  max-height: 1000px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  //   color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  text-align: left;
  // background: #efefef;
  img {
    position: absolute;
    right: 100px;
    bottom: 0;
    height: 400px;
    width: auto;

    @media (max-width: 900px) {
      opacity: 0.5;
      right: 0;
    }

    @media (max-width: 600px) {
      width: 100%;
      height: auto;
    }
  }
}

.jumbotron__text {
  height: 100%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 60px 0 20px;
  width: 100%;
  max-width: 1500px;
  margin: 60px auto 0;
  h1 {
    -webkit-text-stroke: 1px #fff;
    // -webkit-text-fill-color: $secondary;
    letter-spacing: 2px;
    // text-transform: uppercase;
    margin: 100px 0 10px;
    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
  }
  span {
    font-size: 3.2rem;
    font-weight: 200;
    color: $accent-primary;
  }
}

@media (max-width: 992px) {
  .jumbotron__text {
    text-align: left;
  }
}
