@import "./colors.scss";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
  background-color: $secondary;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  line-height: 1.2;
  text-align: left;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: rgb(242, 251, 255);

  button:focus {
    outline: none !important;
  }

  h1 {
    font-size: 3.375rem;
    font-weight: 900;
    -webkit-letter-spacing: -0.015em;
    -moz-letter-spacing: -0.015em;
    -ms-letter-spacing: -0.015em;
    letter-spacing: -0.015em;
    color: $accent-primary;
    line-height: 1.1;
    text-shadow: 1px 1px 1px #000;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 900;
    color: $accent-primary;
    text-shadow: 1px 1px 1px #fff;
    // letter-spacing: 2px;
    // -webkit-text-stroke: 1px #fff;
  }

  h3 {
    font-size: 3.375rem;
    font-weight: 200;
    -webkit-letter-spacing: -0.015em;
    -moz-letter-spacing: -0.015em;
    -ms-letter-spacing: -0.015em;
    letter-spacing: -0.015em;
    color: $accent-primary;
    line-height: 1.1;
  }

  h4 {
    font-size: 2rem;
    font-weight: 900;
    -webkit-letter-spacing: -0.015em;
    -moz-letter-spacing: -0.015em;
    -ms-letter-spacing: -0.015em;
    letter-spacing: -0.015em;
    color: $accent-primary;
    line-height: 1.1;
    -webkit-text-stroke: 2px $accent-primary;
    -webkit-text-fill-color: $secondary;
    text-transform: uppercase;
    margin: 1rem 0;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $color-text;
  }
  a {
    color: $color-text;
    text-decoration: none;
  }
  .main {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
  }
  .footer {
    // border-top: 1px solid $accent-primary;
    width: calc(100% - 60px);
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px 0;
    .logo {
      width: 200px;
      height: auto;
    }
    .copyright {
      border-top: 1px solid $accent-primary;
      // width: calc(100% - 60px);
      // max-width: 1500px;
      margin-top: 50px;
      padding: 10px 0;
      // width: 100%;
    }
  }
}
