@import "../../colors.scss";

.navigation {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  // padding: 0 20px;
  background-color: $secondary;
  box-shadow: 0 3px 10px 0 rgba(93, 110, 139, 0.2);
  transition: 1s;
  .logo {
    padding-left: 20px;
  }
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  @media (max-width: 992px) {
    z-index: 100;
    position: fixed;
    top: 60px;
    right: -150vw;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: ease-in-out 0.5s;
    padding-right: 0;
  }
  .nav--link {
    padding: 0 20px;
    text-decoration: none;
  }

  .nav--link-custom {
    background: $accent-primary;
    border: 1px solid $accent-primary;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
  }
}
.navbar--active {
  z-index: 100;
  position: fixed;
  top: 60px;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.activeLink {
  border-bottom: 2px solid #4e96f8;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 1;
  padding-bottom: 7px;
  padding-right: 20px;
  cursor: pointer;
}

.burgerMenu img {
  height: 35px;
  width: auto;
}

@media (min-width: 992px) {
  .burgerMenu {
    display: none;
  }
}

.hide {
  transform: translateY(-60px);
}
